@model Category
@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-primary"> <i class="fa fa-save"></i> Kaydet</button>


</form>