@model Category
@{
    ViewData["Title"] = "AddCategory";
}

<h3>Yeni Kategori Ekleme</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-dark">Kaydet</button>


</form>